*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
discover-companion/build/
discover-protocol/build/
*.keystore
*.jks
.kotlin/
.android-sdk/
.android-home/
